:root {
  --primay: black;
  --bg-primay: white;
  --dark-green: #385538;
  --dark-green-hover: #385538;
  --type-green: #1b3c1b;
  --pastel-green: #91a98d;
  --neon-green: #385538;
  --gray: #b6b6b6;
  --little-gray: #d9d9d9;
}
